.space-between-flex {
    display: flex;
    justify-content: space-between;
}

.message-content {
    height: 30px;
    color: white
}

.width80pc {
    width: 80%;
}

.width85pc {
    width: 85%;
}

.right {
    float: right;
}

.left {
    float: left;
}

.btn-msg-send {
    align-self: center;
    color: #ffffff;
}

.absolute-positioned {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 70px;
    background: #e40046;
}

.content-padding {
    padding-right: 10px;
    padding-left: 10px;
}