<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="selected-red">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="selected-red">
      <ion-icon name="people"></ion-icon>
      <ion-label>Committee</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" class="selected-red">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="selected-red">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Member</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab6" class="selected-red">
      <mat-icon>person</mat-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button> 
  </ion-tab-bar>
</ion-tabs>